.Rproj.user
.Rhistory
.RData
.Ruserdata
Analysis/Participant_feedback
Analysis/fMTP_practice.docx
Analysis/how_to_generate_participant_feedback.txt
Analysis/Material_contrasts.docx
Analysis/Mice plan decision strategies based on previously learned time intervals, locations, and probabilities.pdf
Analysis/Plots
.Rdata
.httr-oauth
.DS_Store
Data
